body{background-color: #1F1F1F}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.tab {
    width: 100%;
    background-image: url(bg1.png);
    background-size: cover;
    margin-top: 50px;
}
.tab .box {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 850px;
}
.tab .box .menus {
    width: 200px;
    height: 700px;
    background: rgb(92,94,103);
    float: left;
    margin-top: 60px;
    border-radius: 10px;
    overflow: hidden;
}
.tab .box .menus li {
    width: 200px;
    height: 70px;
    background: rgb(92,94,103);
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    line-height: 70px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.tab .box .menus li:nth-child(7) {
    border-bottom: none;
}
.tab .box .bg {
    height: 110px !important;
    background: rgb(0,159,233) !important;
    line-height: 110px !important;
}
.tab .right {
    float: left;
    width: 950px;
    margin-top: 25px;
    height: 800px;
    overflow: hidden;
    margin-left: 50px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}
.tab .tab_right {
    width: 950px;
    height: 800px;
    color: #fff;
    text-align: center;

    position:relative;
}
.tab .tab_right img {
    width: 100%;
    position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
}
.tab .scroll {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
